* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #020817;
    color: white;

    font-family: Arial, Helvetica, sans-serif;

    line-height: 1.7;
}

/* HERO */

.hero {

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px 20px;
}

.logo {

    width: 170px;
    margin-bottom: 25px;
}

.hero h1 {

    font-size: 64px;
    margin-bottom: 10px;
}

.tagline {

    color: #3b82f6;

    font-size: 28px;
    margin-bottom: 25px;
}

.description {

    max-width: 700px;

    color: #b8c1d1;

    font-size: 20px;

    margin-bottom: 35px;
}

/* BUTTONS */

.hero-buttons {

    display: flex;
    gap: 15px;

    flex-wrap: wrap;
}

.btn {

    border: 1px solid #2563eb;

    padding: 14px 28px;

    border-radius: 10px;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

.btn:hover {

    background: #2563eb;
}

/* SECTIONS */

section {

    padding: 100px 10%;
}

h2 {

    font-size: 42px;
    margin-bottom: 50px;

    text-align: center;
}

/* SKILLS */

.skills-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 20px;
}

.skill-card {

    background: #0f172a;

    border: 1px solid #1e293b;

    padding: 25px;

    border-radius: 15px;

    text-align: center;

    transition: 0.3s;
}

.skill-card:hover {

    border-color: #2563eb;

    transform: translateY(-5px);
}

/* PROJECTS */

.projects-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    gap: 30px;
}

.project-card {

    background: #0f172a;

    border: 1px solid #1e293b;

    border-radius: 18px;

    padding: 30px;

    transition: 0.3s;
}

.project-card:hover {

    border-color: #2563eb;

    transform: translateY(-6px);
}

.project-card h3 {

    margin-bottom: 20px;

    font-size: 24px;
}

.project-card p {

    color: #b8c1d1;

    margin-bottom: 20px;
}

.project-tools {

    color: #3b82f6;

    font-size: 14px;
}

/* CERTIFICATES */

.certificates-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 25px;
}

.certificates-grid img {

    width: 100%;

    border-radius: 15px;

    border: 1px solid #1e293b;

    transition: 0.3s;
}

.certificates-grid img:hover {

    transform: scale(1.02);

    border-color: #2563eb;
}

/* MOBILE */

@media (max-width: 768px) {

    .hero h1 {

        font-size: 42px;
    }

    .tagline {

        font-size: 22px;
    }

    .description {

        font-size: 18px;
    }

    h2 {

        font-size: 32px;
    }
}